html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: hsl(210, 24%, 16%);
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: hsl(209, 14%, 37%);
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.explanation {
  background: url('vertical_splash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px 32px;
}

.shadow {
  color: hsl(216, 33%, 97%);
  text-shadow: 0 2px 4px hsl(210, 24%, 16%);
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 48px 0;
}

.text {
  margin: 16px;
  border-radius: 8px;
  border-width: 2px;
  background-color: hsl(341, 100%, 97%);
  font-size: 16px;
  padding: 24px 32px;
}

.higher {
  margin: -24px 16px 24px 16px;
}

.subbody {
  font-size: 14px;
}

.container {
  display: flex;
  flex-flow: column;
}

.pre-submit {
  border-radius: 8px;
  box-shadow: 1px 2px 4px 0 hsl(211, 13%, 65%);;
}

.input_text {
  font-size: 16px;
  width: 128px;
  border: 0;
  border-bottom: 1px solid hsl(322, 93%, 27%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.input__email {
  width: 192px;
}

.submitting, #thanks {
  display: none;
}

.form--row {
  margin: 32px 0;
}

.form--email {
  margin-top: 32px;
}

.container__input--box {
  display: flex;
  flex-direction: column;
}

.input--box {
  border: 0;
  border-bottom: 1px solid hsl(214, 15%, 91%);
  height: 32px;
  font-size: 16px;
  padding: 8px;
}

textarea.input--box {
  height: 128px;
  font-family: 'Roboto', sans-serif;
}

.container--child {
  margin: 24px;
  padding: 12px 16px;
}

.border__rounded {
  border-radius: 16px;
}

.container--row {
  display: flex;
  flex-flow: row wrap;
}

.color__block {
  width: 96px;
  height: 96px;
}

.bg__primary--1 {
  background-color: hsl(320, 100%, 19%);
}

.bg__primary--2 {
  background-color: hsl(322, 93%, 27%);
}

.bg__primary--3 {
  background-color: hsl(326, 90%, 39%);
}

.bg__primary--4 {
  background-color: hsl(328, 85%, 46%);
}

.bg__primary--5 {
  background-color: hsl(334, 86%, 67%);
}

.bg__primary--6 {
  background-color: hsl(338, 100%, 86%);
}

.bg__primary--7 {
  background-color: hsl(341, 100%, 95%);
}

.bg__neutral--1 {
  background-color: hsl(210, 24%, 16%);
}

.bg__neutral--2 {
  background-color: hsl(209, 20%, 25%);
}

.bg__neutral--3 {
  background-color: hsl(209, 14%, 37%);
}

.bg__neutral--4 {
  background-color: hsl(211, 12%, 43%);
}

.bg__neutral--5 {
  background-color: hsl(211, 13%, 65%);
}

.bg__neutral--6 {
  background-color: hsl(214, 15%, 91%);
}

.bg__neutral--7 {
  background-color: hsl(216, 33%, 97%);
}

.bg__supporting--red {
  background-color: hsl(352, 90%, 35%);
}

.bg__supporting--cyan {
  background-color: hsl(182, 85%, 39%);
}

.bg__supporting--yellow {
  background-color: hsl(48, 94%, 68%);
}

.center {
  text-align: center;
}

.button {
  border-width: 2px;
  border-radius: 8px;
  display: inline-block;
  font-size: 24px;
  margin: 32px;
  padding: 12px 16px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

button:hover {
  cursor: pointer;
}

.button--primary {
  border-color: hsl(320, 100%, 19%);
  color: hsl(214, 15%, 91%);
  background: hsl(320, 100%, 19%);
}

.button--primary:hover {
  background: hsl(322, 93%, 27%);
}

.button--secondary {
  border-color: hsl(338, 100%, 86%);
  color: hsl(320, 100%, 19%);
  background-color: hsl(338, 100%, 86%);
}

.button--secondary:hover {
  border-color: hsl(341, 100%, 95%);
  background: hsl(341, 100%, 95%);
}

.button--tertiary {
  border: 2px solid hsl(338, 100%, 96%);
  color: hsl(320, 100%, 19%);
  background: inherit;
  box-sizing: none;
}

.button--tertiary:hover {
  border-color: hsl(338, 100%, 86%);
}

#submit--container {
  text-align: center;
}

.subtext {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 768px auto;
  }

  .explanation {
    background-color: hsl(320, 100%, 19%);;
    background-image: none;
    padding: 64px 48px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .leader__image {
    background: url('vertical_splash2.jpeg');
    background-size: cover;
    height: 640px;
  }
  #getStarted {
    display: none;
  }

  .input_text {
    width: 384px;
    font-size: 24px;
  }

  .higher {
    display: none;
  }

  .container--child {
    margin: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
    background: white;
  }

  .pre-submit {
    margin: -128px auto 32px auto;
    padding: 48px 64px 32px 64px;
    width: 640px;
  }

  .pre-submit h2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

  .subtext {
    display: block;
    color: hsl(216, 33%, 97%);
    line-height: 1.5;
  }

  .form--email {
    margin: 64px 0 0 0;
    padding: 64px 128px;
    background-color: hsl(341, 100%, 98%);
  }

  .form--email h2 {
    color: hsl(320, 100%, 19%);
  }

  .container__input--box {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .input--box {
    margin-left: 8px;
  }

  .input--message {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #submit--container {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
  }

  #contact--submit {
    width: 128px;
    display: inline-block;
    margin-right: 0;
    background-color: white;
  }
}